@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.infoPage{
    font-family: 'VT323', monospace;
    font-size: 1.5em;
    background-color: black;
    position: absolute;
}

.infoText{
    color: darkred;
}

.linkButton1{
    position: absolute;
    right: 0;
    top: 0;
    color:orange;
    padding: 0.5em 0.5em 0 0em; 
}