@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.mainTicker{
    white-space: pre;
    color:#a30101;
    font-family: 'VT323', monospace;
    font-size: 3em;
    background-color: black;
    text-align: center;
    line-height: 1em;
}